.venv/
.python
notupload_data/
__pycache__/
*.pyc
# macOS
.DS_Store/
preprocessing.ipynb
# results/
# *aortic_aneurysm.olink.tsv
src/net2rank.egg-info

# visualization styling
data/Revelen_style.xml
data/ZS-Brand-Guidelines.pdf

notebooks/logs

data/ranked_list_inflammatome.tsv